@font-face {
    font-family:'vazir';
    src: url(../fonts/vazir.eot);
    src: url(../fonts/vazir.ttf);
    src: url(../fonts/vazir.woff);
    src: url(../fonts/vazir.woff2);
  }

  *{
      padding: 0;
      text-decoration: none;
      margin: 0;
      list-style: none;
     
  }
  body{
      font-family: 'vazir';
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    
    }
    .container{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-image: url('../img/p404.png');
      background-color: #151729;
     
    }
    .content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .content h2{
      font-size: 360px;
      color: #fff;
      
    }
    .content h3{
      font-size: 50px;
      color: #fff;
      margin-top: -103px;
    
    }
    .content p{
      color: #fff;
      font-size: 20px;
      margin: 20px 0;
    }
    .content a{
       padding: 10px 50px;
       background-color: #8500ff;
       border-radius: 20px;
       -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       -ms-border-radius: 20px;
       -o-border-radius: 20px;
       color: #fff;
}